@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-bg-dark: #1e1e2e;
  --color-fg-dark: #cdd6f4;
  --color-bg-light: #eff1f5;
  --color-fg-light: #4c4f69;
}

body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  @apply bg-neutral-900 text-neutral-100;
}
